BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000
BACKEND_DOMAIN=localhost.com
BACKEND_READ_TIMEOUT=250ms
BACKEND_READ_HEADER_TIMEOUT=250ms
BACKEND_WRITE_TIMEOUT=20s
BACKEND_IDLE_TIMEOUT=10m

CORS_ALLOW_ORIGIN=https://example.com

STORAGE_HOST=127.0.0.1
STORAGE_PORT=5432
STORAGE_NAME=storage_name
STORAGE_USER=storage_user
STORAGE_PASSWORD=user_pwd

OBJECT_STORAGE_PORT=9000
OBJECT_STORAGE_ACCESS_KEY_ID=keyID
OBJECT_STORAGE_SECRET_ACCESS_KEY=secret_key
OBJECT_STORAGE_ENDPOINT=object-storage:9000
OBJECT_STORAGE_BUCKET=videos
OBJECT_STORAGE_ACCESS_HOST=127.0.0.1:8000

MIGRATIONS_TABLE=migrations
MIGRATIONS_PATH=migrations

JWKS_URI=http://backend-auth:8000/jwks

TOKENS_ISSUER=example
TOKENS_KEY_ID=rsa